name: Construir imagen de la aplicaci贸n

on:
  push:
    branches:
      - main

jobs:
  build-docker-image:
    name: Construir imagen de la aplicaci贸n
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del c贸digo
      uses: actions/checkout@v2

    - name: Configurar Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x

    - name: Instalar dependencias
      run: pip install -r requirements.txt

    - name: Ejecutar pruebas
      run: pytest tests.py

    - name: Construir imagen de la aplicaci贸n
      run: docker build -t testeandoloco-py .
